{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block id_for_selected_page %}id_nav_link_docs_plain{% endblock %}

{% block dashboard_content %}


    <div class="container mt-5" style="overflow-y: auto;height: 100%;padding-bottom: 50px;">
        <h1 class="mb-4">Temporary - {{ mission_name }} Web Interface Documentation</h1>

        <section id="overview">
            <h2>Overview</h2>
            <p>Welcome to the {{ mission_name }} Web Interface! Please note that this web interface is currently under construction
                by {{ developer_name_2 }} and {{ developer_name_1 }}. If you need any assistance, feel free to contact us on Slack.</p>
            <p>The repository for this project is hosted <a href="{{ fake_web_git_repo_url}}">here</a>.
            </p>
        </section>

        <section id="main-functionalities">
            <h2>Main Functionalities</h2>

            <h3>Why this project?</h3>
            <p>The long-term goal is to replace the current telnet and remote desktop setup with direct communication to
                the zeroMQ hub of the ground station.</p>

            <h3>Web Interface for {{ mission_name }} Missions</h3>
            <ul>
                <li><strong>Communicate with {{ mission_name }} Missions</strong>: The web interface allows you to interact with and
                    receive telemetry from the {{ mission_name }} missions.
                </li>
                <li><strong>Remote Desktop</strong>: Access a pre-configured machine via a web version of VNC, designed
                    to be more reliable than previous setups.
                </li>
                <li><strong>Documentation</strong>: Access documentation related to the interface and its
                    functionalities.
                </li>
            </ul>


        </section>

        <section id="scheduled-features">
            <h2>Scheduled Features</h2>

            <h3>Current Features</h3>
            <ul>
                <li><strong>Satellite Position Map</strong>: View the current position of the selected satellite on a
                    map (implemented).
                </li>
                <li><strong>Next Pass Information</strong>: See information about the next satellite pass (implemented).
                </li>
                <li><strong>Telnet Terminal</strong>:
                    <ul>
                        <li>Display the last output from the telnet terminal (implemented).</li>
                        <li>Interact with the telnet terminal (not implemented).</li>
                    </ul>
                </li>
            </ul>

            <h3>Planned Features</h3>
            <ul>
                <li><strong>Telemetry Retrieval</strong>: Get the latest telemetry data (not implemented).</li>
                <li><strong>Command Sending</strong>: While planned, this feature is complex and not currently
                    available.
                </li>
            </ul>
        </section>

        <section id="remote-desktop">
            <h2>Remote Desktop</h2>
            <p>The remote desktop functionality uses a web version of VNC, allowing you to connect to the pre-configured
                machine. This setup aims to resolve the issues we experienced in the past (hopefully!).</p>
        </section>

        <section id="documentation">
            <h2>Documentation</h2>
            <p>The current documentation is limited to this document. We are planning to create more comprehensive and
                user-friendly documentation in the future.</p>
            <p><strong>Note</strong>: This temporary documentation was generated by ChatGPT. I assure you, I don’t
                usually speak like a robot!</p>
        </section>

        <section id="External documentation">
            <h2>External Documentation</h2>
            <p>These are the old list of documents available:</p>
            <ul>
                <li><a href="{{ mission_real_manual_url}}">{{ satellite_name_TLE }}_Operation_Manual.pdf</a></li>
                <li><a href="https://drive.google.com/file/d/1BLnsu7rNBmYDmQcZc7pOTK5yp1xMh_/view?usp=drive_link>">{{ satellite_name_TLE }}_Extensive_Manual.pdf</a></li>
                <li><a href="https://drive.google.com/file/d/1_x7skLItA8Z3jyJ-q0y8_naNvkziqA/view?usp=drive_link">{{ satellite_name_TLE }}_Ground_Station_Manual.pdf</a></li>
            </ul>
        </section>
    </div>
{% endblock %}

